@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-ephesis: "Ephesis";

    --color-primary: #E83667;
    --color-primaryDark: #BB2C51;
    --color-secondary: #21D4B9;
    --color-dark: #303030;
}

html {
    font-family: "Inter", sans-serif;
}

